html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    height: 3em;
    background-color: #555;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

nav h1 {
    font-size: 1em;
}

h2 {
    padding: 0;
    margin: 0;
}

#help_button_wrapper {
    border-radius: 50%;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    color: #555 !important;
    width: 1.5em !important;
    height: 1.5em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#help_button_wrapper > button {
    border: none;
    background-color: transparent;
    color: #555 !important;
    cursor: pointer;
}

#help_button_wrapper > button:active, #help_button_wrapper > button:focus {
    color: #555 !important;
}

main {
    display: flex;
    flex: 1 0 auto;
    background-color: #e3e3e3;
    justify-content: space-around;
    align-items: center;
}

footer {
    flex-shrink: 0;
}

.keyboard {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    background-color: #e3e3e3;
    border-radius: 3px;
    box-shadow: #999 2px 2px 3px;
    max-width: 4em;
    /* same size keys */
    flex: 1 1 0;
    padding: 0.4em;
    margin: 0.25em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper > div {
    margin: 1em;
}

.grid {
    display: flex;
    flex-direction: column;
}

.grid_row {
    display: flex;
    flex-direction: row;
}

.grid_cell {
    height: 4em;
    width: 4em;
    background-color: #555555;
    margin: 0.35em;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.word_list {
    padding: 1em 2em;
    background-color: #f9f9f9;
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 3px;
    width: 7em;
}

#possible_answers {
    list-style: none;
    margin: 0;
    padding: 0;
}

#instruction_modal_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#instruction_modal {
    display: flex;
    width: 50%;
    border-radius: 2px;
    flex-direction: column;
    padding: 1em;
    background-color: white;
}

.instruction_modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#close_button {
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 1.1em;
    cursor: pointer;
}

.divider {
    height: 1px;
    border-top: 1px solid #555555;
    width: 100%;
}

.hidden{
    display: none;
}

.visible {
    display: flex !important;
}

.flip:hover {
    animation: flip 0.35s ease-in-out;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

@media only screen and (max-width: 768px) {
    nav {
        height: 4em;
    }

    #help_button_wrapper {
        font-weight: bold;
    }

    #help_button_wrapper > button {
        background-color: transparent !important;
        color: #555555 !important;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .wrapper > div {
        margin: 0.5em 1em;
    }

    .grid {
        width: 95%;
        display: flex;
        align-items: center;
    }

    .grid_cell {
        height: 3.35em;
        width: 3.35em;
    }

    .word_list {
        width: 75%;
    }

    .grid_cell {
        margin: 0.25em;
    }

    .key {
        padding: 1.5em 0.4em;
    }

    #instruction_modal_wrapper {
        align-items: flex-start;
    }

    #instruction_modal {
        width: 100%;
        margin: 3em 1em 1em 1em;
    }
}